/*______________________________________________________________________*/
/*Create three unequal columns that floats next to each other*/
/*Creates a column*/
.column{
	float: left;
}
/*Column that is in the middle of the page*/
.column.middle{
	width: 50%;
}
/*Column(s) that are either Left or Right of the page*/
.column.side{
	width: 25%;
}

/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/*______________________________________________________________________*/
/* Create two unequal columns that floats next to each other */
/* Main column */
.maincolumn {   
	float: middle;
	width: 75%;
}

/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
}

/* Fake image */
.fakeimg {
	background-color: #aaa;
	maxwidth: 250px;
	padding: 20px;
	margin: auto;
}

/* Add a card effect for articles */
.card {
	background-color: white;
	padding: 15px;
	margin: 15px;	
	background-color:#ffffff;	
	border: .05px solid black;
	border-radius: 5px;
	opacity: 0.9;	  
	float: left;
	filter: alpha(opacity=60);
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}
/*----------------------------------------------------------------------*/
/*----------------------------------------------------------------------*/
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .maincolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
	float: none;
	width: 100%;
  }
}


/*______________________________________________________________________*/
/*Text and Page Behavior*/
/*Scrollable Text*/
.scroll01 {
  background-color: #f1f1f1;
  width: 100%;
  height: 150px;
  overflow: auto;
}
