/* Start of general styling and formatting */
/* ---------------------------------------- */
.bbground01{
	background-image: url("/html/images/background01.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	padding:0;
}
.hfont01{
	font-family: verdana;
	font-size: 175%;
}
.transbox01{
	margin: 30px;
	background-color:#ffffff;
	border: 1px solid black;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

/* Start of styling for navigation bar */
/* ---------------------------------------- */
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-size: 100%;
}
li{
	float: left;
}
li a{
	display: block;
	color: #DFDFDF;
	text-align: center;
	font-family: verdana;
	padding: 4px 8px;
	text-decoration: none;
}
li a:hover:not(.active){
	background-color: #111;
}
.active{
	background-color: #800020;
}
.deactive{
	background-color: #111;
}

/* Footer at the bottom of the pages */
/* ---------------------------------------- */
.footer{
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	background-color: grey;
	color: White;
	text-align: right;
}
