/* Start of general styling and formatting */
/* ---------------------------------------- */
.bbground01{
	background-image: url("/html/images/background01.jpg");
	background-repeat: round;
	backgorund-size: auto ;
	margin:0;
	padding:0;
}
