  
/* Start of general styling and formatting */
/* ---------------------------------------- */
.header{
	height: 100px;
	width: 100%;
	background-color: #f1f1f1;
	border: .05px solid black;
	border-radius: 5px;
	text-align: center;
}

/*______________________________________________________________________*/
