body{
	background-image: url("./html/images/background01.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	padding:0;
}
h1{
	font-family: verdana;
	font-size: 200%;
}
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	font-size: 100%;
}
li{
	float: left;
}
li a{
	display: block;
	color: #DFDFDF;
	text-align: center;
	font-family: verdana;
	padding: 4px 8px;
	text-decoration: none;
}
li a:hover:not(.active){
	background-color: #111;
}
.active{
	background-color: #800020;
}
.deactive{
	background-color: #111;
}
.footer{
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	background-color: grey;
	color: White;
	text-align: right;
}
