/* Start of general styling and formatting */
/* ---------------------------------------- */
.header{
	height: 75;
	width: 100%;
	background-color: #f1f1f1;
	text-align: center;
}
.header b:hover {
  background-color: #ddd;
  color: black;
}

.bbground01{
	background-image: url("/html/images/background01.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	margin:0;
	padding:0;
}

/*______________________________________________________________________*/
/*Text and Page Behavior*/
/*Scrollable Text*/
.scroll01 {
  background-color: lightblue;
  width: 100%;
  height: 150px;
  overflow: auto;
}

/*______________________________________________________________________*/
/*Create three unequal columns that floats next to each other*/
/*Creates a column*/
.column{
	float: left;
}
/*Column that is in the middle of the page*/
.column.middle{
	width: 50%;
}
/*Column(s) that are either Left or Right of the page*/
.column.side{
	width: 25%;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* Create two unequal columns that floats next to each other */
/* Main column */
.maincolumn {   
	float: left;
	width: 75%;
}
/* Right column */
.rightcolumn {
	float: left;
	width: 25%;
}

/* Fake image */
.fakeimg {
	background-color: #aaa;
	maxwidth: 250;
	padding: 20px;
	margin: auto;
}

/* Add a card effect for articles */
.card {
	background-color: white;
	padding: 15px;
	margin: 30;	
	background-color:#ffffff;	
	border: 1px solid black;	
	opacity: 0.7;	  
	float: left;
	filter: alpha(opacity=60);
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .maincolumn, .rightcolumn {   
	width: 100%;
	padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
	float: none;
	width: 100%;
  }
}



/*______________________________________________________________________*/
/* Start of styling for navigation bar */
/* ---------------------------------------- */
/* Style the top navigation bar */
.topnav{
	overflow: hidden;
	background-color: #111;
}
/* Style the topnav links */
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
/* Change color on hover */
.topnav a:hover{
	background-color: #ddd;
	color: black;
}

/* Style the sidenavigation bar */
.sidenav {
  margin-top: 75px;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
}
/* Side navigation links */
.sidenav a {
  color: white;
  padding: 16px;
  text-decoration: none;
  display: block;
}
/* Change color on hover */
.sidenav a:hover {
  background-color: #ddd;
  color: black;
}





/*______________________________________________________________________*/
/* Footer at the bottom of the pages */
/* ---------------------------------------- */
.footer{
	position: fixed;
	left:0;
	bottom:0;
	width: 100%;
	height: 40px;
	background-color: grey;
	color: White;
	text-align: right;
	opacity: 0.70;
	filter: alpha(opacity=70);
}

/* Extra Footer*/
.efooter {
	padding: 20px;
	text-align: center;
	background: #ddd;
	margin-top: 20px;
}
